.cell {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;

  &__clean {
    background: black;
    width: 4rem;
    height: 4rem;
  }

  &__hover {
    background: red;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }

  &__clicked {
    background: blue;
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
  }
}
